/src/py_hidreport/__pycache__
/src/py_hidreport/items/__pycache__
/src/py_hidreport/pages/__pycache__
/src/py_hidreport/items/Main/__pycache__
/build/dist
/build/build
/src/py_hidreport.egg-info
/install-dev/build
